<div class="container-wrap">
    <div class="content-container">
        <div class="content-wrapper">
            <div class="overview flex-box">
                <h1>Overview</h1>
                <div class="add-fund flex-box">
                    <div class="label">Add Funds</div>
                    <img src="../../../assets/icons/plus.svg" alt="">
                </div>
            </div>
            <div class="overview-content m-block row">
                <div class="r-overview-content col-md-4">
                    <div class="pro">
                        <app-profile [users]="users"></app-profile>
                    </div>
                    <div class="prod">
                        <app-product-content [isSmall]="true"></app-product-content>
                    </div>
                </div>
                <div class="l-overview-content col-md-8">
                    <div class="graphs flex-box m-block row">
                        <div class="graph card m-line-chart col-md-6">
                            <div class="heading-label flex-box">
                                <div class="heading">Statistics</div>
                                <div class="month-option flex-box">
                                    <div class="label">Last 6 months</div>
                                    <img src="../../../assets/icons/small-down.svg" alt="">
                                </div>
                            </div>
                            <div class="diag grid-box">
                                <app-diagrams [graphType]="0"></app-diagrams>
                            </div>
                        </div>
                        <div class="graph card col-md-5">
                            <div class="heading-label flex-box">
                                <div class="heading">Sales Distribution</div>
                            </div>
                            <div class="diag grid-box pie">
                                <app-diagrams [graphType]="1"></app-diagrams>
                            </div>
                        </div>
                    </div>
                    <app-dashboard-table [displayedColumns]="displayedColumns" [dataSource]="dataSource">
                    </app-dashboard-table>
                </div>
            </div>
            <app-product-content [isSmall]="false"></app-product-content>
        </div>
    </div>
</div>