<div class="referer card">
    <h2>Referer</h2>
    <div class="refer-table">
        <table  cellspacing="0" cellpadding="0">
            <tr>
                <th *ngFor="let head of displayedColumns">
                    {{head}}
                </th>
            </tr>
            <tr *ngFor="let data of dataSource">
                <td>{{data.location}}</td>
                <td>{{data.views}}</td>
                <td>{{data.sales}}</td>
                <td>{{data.conversion}}</td>
                <td>{{data.total | currency:'USD' : 'symbol':'3.0'}}</td>
            </tr>
        </table>
    </div>
        <div class="show">Show More</div>
</div>