@media only screen and (max-width: 640px) {

    .content-wrapper {
      padding: em(20) !important;
    }

    .overview-content {
        flex-direction: column-reverse;
        margin:  0 !important;
    }

    .m-block {
        display: block !important;
        width: 100%;
    }

    .m-no-display {
        display: none !important;
    }

    .m-header {
        border-radius: 0px !important;
    }

    .graphs {
      margin: 0 !important;
    }

    .graph {
      min-width: em(300);
        margin-right: 0 !important;
        .diag {
          position:  static !important;
        }
    }

    .profile {
        padding: 0 !important;
    }

    .r-overview-content {
        margin: 0 !important;
        padding: 0 !important;
        min-width: em(300)
    }

    .l-overview-content {
      margin: 0 !important;
      padding: 0 !important;
    }

    app-dashboard-table {
      margin: 0 !important;
    }

    .user {
        width: unset !important;
        padding: 0 1em;
    }

    .notification-menu {
        width: 95vw !important;
        transform: translate(20%, 0%) !important;
        right: 0 !important;
        .user-lists {
            padding:em(15) !important;
        }
    }

    .mat-drawer {
        width: 80% !important;
    }

    dx-chart {
      overflow-x: scroll !important;
      max-width: em(250) !important;
    }

    dx-pie-chart {
      max-width: em(250) !important;
      overflow-x: scroll !important;
    }

    .refer-table {
      overflow-x: scroll !important;
    }

    .referer {
      margin: 0 !important;
      min-width: em(300)
    }

    .m-line-chart {
      margin-top: em(20);
    }

    .m-d-display {
      display: block;
    }

    .m-f-display {
      display: flex !important;
    }
    
    .product {
      margin-top: em(20) !important;
      min-width: em(300)
    }
    .core-header {
      position: fixed !important;
      width: 100% !important;
    }

}

